# Hugging Face cache
data/hf_cache/

# Chroma
data/chroma_db/

# Dados gerados do RAG e scraping
data/raw/
data/processed/

# Python
__pycache__/
*.pyc
.venv/
venv/
venv312/

# Variáveis de ambiente
.env
node_modules/
dist/
